<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title> New User </title>
</head>

<body>


<form id="login" action="/user/:id" method="get">
    <p>
        <input type="text" id="username"  placeholder="Username" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
        <input type="password" id="password" placeholder="Password" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
        <input type="submit" value="Login">
    </p>
</form>


</body>
</html>