<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/users.css">
    <title>Easy PC</title>
</head>

<body>
<nav>
    <div class="container">
        <h1>Easy PC</h1>
        <div class="menu">
            <a href="/" class="is-active">Home</a>
            <a href="about">Laptops</a>
            <a href="home">PC</a>
            <a href="#">Log in</a>
        </div>
        <button class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</nav>

<div class="create-blog content">
    <form action="/blogs" method="POST">
        <label for="title">First Name</label>
        <input type="text" id="title" name="title" required>
        <label for="snippet">Last name</label>
        <input type="text" id="snippet" name="snippet" required>
        <label for="snippet">Email</label>
        <input type="text" id="snippet" name="snippet" required>
        <label for="snippet">Phone number</label>
        <input type="text" id="snippet" name="snippet" required>
        <button>Submit</button>
    </form>
</div>

</body>
</html>